*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth; 
}

body{
    background: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    height: 50px;
    margin-bottom: 2px solid rgb(104, 104, 104);
    width: 100%;
    background-color: #143050;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    z-index: 999;
    position: fixed;
}

.menu{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.perfil01{
    width: 100%;
    height: 600px;
    background-color: #4A5C6A;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}

.perfil02{
    width: 100%;
    height: 600px;
    background-color: #253745;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    -webkit-flex-direction: row-reverse;
}

.tecno{
    width: 100%;
    height: auto;
    background-color: #11212d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.contact{
    width: 100%;
    height: 600px;
    background-color: #06141b;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    display: flex;
    padding-bottom: 50px;
}

.leftcontact{
    background-color: #253745;
    width: 600px;
    height: 500px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

.rightcontact{
    background-color: #253745;
    width: 600px;
    height: 500px;
    border-radius: 5%;
}

.rel{
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.profile{
    position: left;
    transition: all 700ms linear;
    width: 500px;
    height: 500px;
    scale: 75%;
}

.profile:hover {
    transform: scale(1.2);
    transition: all 700ms line;
}

.tecnoimg{
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    scale: 90%;
    right: 25px;
    top: -37px;
}

.tecnoframe{
    position: relative;
    overflow: hidden;
    border-radius: 20%;
    width: 150px;
    height: 150px;
    padding-bottom: 20px;
}

.texto{
    background-color: #ccd0cf;
    width: 300px;
    height: 450px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tecnobox{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 80px;
}

.area{
    height: 60px;
    max-width: 590px;
    min-width: 590px;
    max-height: 352px;
    align-items: center;
}

.zap{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.conferir{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}